.header-section {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 0;
}

.header-nav {
  margin-left: 76px;
}

.header-logo {
  color: #2e2f42;
  font-weight: 700;
  text-decoration: none;
}
.logo-web {
  color: #4d5ae5;
}
.header-nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav-link {
  display: block;
  text-decoration: none;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.header-address {
  flex: 1;
  margin-left: auto;
  font-style: normal;
}
.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: flex-end;
}
.header-address-link {
  display: block;
  text-decoration: none;
  color: #434455;
  padding: 24px 0;
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
